/*=========================================================
  01. Variable
===========================================================*/
:root {
    --white-color: #fff;
    --black-color: #000;
    --primary-color: #6C4E3F;
    --secondary-color: #FAF6F2;
    --gray-color: #F3EEE7;
    --primary-font: "Cormorant Upright", sans-serif;
    --secondary-font: "Montserrat", sans-serif;
}