/*============================================================
  04. General
==============================================================*/

/*=====================================  
  Classess for Fonts Size  
=======================================*/

.cs_fs_14 {
  font-size: 14px;
  line-height: 2em;
}

.cs_fs_16 {
  font-size: 16px;
  line-height: 1.5em;
}

.cs_fs_20 {
  font-size: 20px;
  line-height: 1.5em;
}

.cs_fs_32 {
  font-size: 32px;
  line-height: 1.25em;
}

.cs_fs_40 {
  font-size: 40px;
  line-height: 1.2em;

  @media (max-width: 1399px) {
    font-size: 36px;
  }

  @media (max-width: 1199px) {
    font-size: 32px;
  }

  @media (max-width: 767px) {
    font-size: 30px;
  }
}

.cs_fs_48 {
  font-size: 48px;
  line-height: 1.166em;

  @media (max-width: 991px) {
    font-size: 42px;
  }

  @media (max-width: 767px) {
    font-size: 38px;
  }

  @media (max-width: 400px) {
    font-size: 32px;
  }
}

.cs_fs_64 {
  font-size: 64px;
  line-height: 1em;

  @media (max-width: 991px) {
    font-size: 60px;
  }

  @media (max-width: 767px) {
    font-size: 50px;
  }

  @media (max-width: 400px) {
    font-size: 40px;
  }
}

/*=====================================  
  Classess for Fonts Weight
=======================================*/
.cs_normal {
  font-weight: 400;
}

.cs_medium {
  font-weight: 500;
}

.cs_semibold {
  font-weight: 600;
}

.cs_bold {
  font-weight: 700;
}

/*=====================================  
  Classess for Fonts Color
=======================================*/

.cs_secondary_color {
  color: var(--secondary-color);
}

.cs_gray_color {
  color: var(--gray-color);
}

.cs_white_color {
  color: var(--white-color);
}

.cs_secondary_color {
  color: var(--secondary-color);
}

.cs_primary_color {
  color: var(--primary-color);
}

/*=====================================  
  Classess for Fonts Family 
=======================================*/
.cs_primary_font {
  font-family: var(--primary-font);
}

.cs_secondary_font {
  font-family: var(--secondary-font);
}

/*=============================================  
  Classess for Background Size & Colors
===============================================*/
.cs_primary_bg {
  background-color: var(--primary-color);
}

.cs_gray_bg {
  background-color: var(--gray-color);
}

.cs_secondary_bg {
  background-color: var(--secondary-color);
}

.cs_white_bg {
  background-color: var(--white-color);
}

.cs_bg_filed {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cs_img_border {
  img {
    width: 100%;
    border: 16px solid var(--white-color);
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.05);
  }

  @media (max-width: 767px) {
    img {
      border-width: 8px;
    }
  }
}

/*=============================================  
  Classess for Button Components
===============================================*/
.cs_btn_style_1 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 8px 40px;
  font-size: 16px;
  font-weight: 700;
  background: var(--secondary-color);
  color: var(--primary-color);
  text-align: center;
  overflow: hidden;
  border: none;
  outline: none;
  position: relative;
  text-transform: uppercase;
  overflow: hidden;
  transition: all 0.6s ease;

  >* {
    position: relative;
    z-index: 1;
  }

  &.cs_light_border {
    &:hover {
      border: 1px solid var(--secondary-color);
    }
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 20px;
    height: 20px;
    background-color: var(--primary-color);
    border: 1px solid currentColor;
  }

  &::after {
    left: -32px;
    transform: translate(-50%, -50%);
  }

  &::before {
    right: -32px;
    transform: translate(50%, -50%);
  }

  &:hover {
    color: var(--secondary-color);

    &::before {
      animation: criss-cross-right 0.8s both;
    }

    &::after {
      animation: criss-cross-left 0.8s both;
    }
  }

  &.cs_brown {
    background: var(--primary-color);
    color: var(--secondary-color);
    border: 1px solid var(--primary-color);

    &::before,
    &::after {
      background-color: var(--secondary-color);
    }

    &:hover {
      color: var(--primary-color);
    }
  }
}

.cs_link_btn {
  display: inline-flex;
  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--primary-color);
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scale(1, 1);
    transition: transform 0.3s ease;
    transform-origin: top left;
  }

  &:hover {
    &::before {
      transform: scale(0, 1);
      transform-origin: top right;
    }
  }
}

.cs_player_btn_style_1 {
  height: 100px;
  width: 100px;
  color: var(--white-color);
  position: relative;
  border-radius: 50px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 100%;
    height: 100%;
    background: var(--gray-color);
    border-radius: 50%;
  }

  &::after {
    z-index: 1;
  }

  &::before {
    z-index: 0;
    animation: pulse-border 1500ms linear infinite;
  }

  svg {
    position: relative;
    margin-left: 5px;
    z-index: 2;
  }

  &:hover {
    &::before {
      animation-play-state: paused;
    }
  }

  @media (max-width: 575px) {
    height: 70px;
    width: 70px;
  }
}

/*=============================================  
  Classess for Utility Components
===============================================*/
.cs_mp_0 {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cs_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cs_center_column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*=============================================  
  Bootstrap Classess 
===============================================*/
.cs_gap_y_40 {
  gap: 40px 0;

  @media (max-width: 991px) {
    gap: 30px 0;
  }
}

.cs_gap_y_30 {
  gap: 30px 0;
}

.cs_gap_y_64 {
  gap: 64px 0;

  @media (max-width: 991px) {
    gap: 30px 0;
  }
}

.cs_row_gap_40 {
  margin-left: -20px;
  margin-right: -20px;

  >* {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (max-width: 991px) {
    margin-left: -12px;
    margin-right: -12px;

    >* {
      padding-left: 12px;
      padding-right: 12px;
    }
  }
}

.cs_padding_0 {
  padding-left: 0 !important;
  padding-right: 0 !important;

  >* {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

/*===========================================================  
  Section Heading
=============================================================*/

.cs_section_heading_style_2 {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  .cs_section_heading_right {
    width: min(50%, 600px);
    padding-left: 40px;
    border-left: 1px solid currentColor;
  }

  @media (max-width: 991px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    .cs_section_heading_right {
      width: 100%;
      padding-left: 0;
      border-left: 0;
    }
  }
}

/*===========================================================  
  07. Preloade
=============================================================*/
.cs_preloader {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999999;
  background-color: var(--secondary-color);

  .cs_preloader_icon {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    position: relative;
    color: var(--primary-color);
    border: 3px solid var(--primary-color);

    &::before {
      content: "\f004";
      font-size: inherit;
      font-weight: 900;
      color: var(--primary-color);
      font-family: "Font Awesome 7 Free";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: heartFill 2s linear infinite;
    }
  }

  .cs_preloader_text {
    position: relative;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px var(--primary-color);

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      color: transparent;
      content: attr(data-text);
      -webkit-text-fill-color: var(--primary-color);
      clip-path: inset(0% 100% 0% 0%);
      animation: fillText 4s linear infinite;
    }
  }
}

@keyframes heartFill {
  100% {
    font-weight: 400;
  }
}

@keyframes fillText {
  to {
    clip-path: inset(0% 0% 0% 0%);
  }
}

/*===========================================================  
  All Common Hide Components
=============================================================*/
@media (max-width: 991px) {
  br {
    display: none;
  }
}

/*===========================================================  
  All Common Animations
=============================================================*/
@keyframes pulse-border {
  100% {
    transform: translate(-50%, -50%) scale(1.3);
    opacity: 0;
  }
}

@keyframes criss-cross-left {
  0% {
    left: -32px;
  }

  50% {
    left: 50%;
    width: 20px;
    height: 20px;
  }

  100% {
    left: 50%;
    width: 375px;
    height: 375px;
  }
}

@keyframes criss-cross-right {
  0% {
    right: -32px;
  }

  50% {
    right: 50%;
    width: 20px;
    height: 20px;
  }

  100% {
    right: 50%;
    height: 375px;
    width: 375px;
  }
}