/*=========================================================
  06. Slider
===========================================================*/
.cs_slider {
  position: relative;
}

.slick-arrow {
  cursor: pointer;
}

.draggable {
  cursor: url(../img/drag.png) 16 9, ew-resize !important;
}

.cs_slider_container {
  overflow: hidden;

  .swiper-slide {
    transition: all 0.3s ease;
  }
}

.cs_overflow_visible {
  .cs_slider_container {
    overflow: visible;

    .swiper-slide {
      opacity: 0;
    }

    .swiper-slide-active {
      opacity: 1;
    }
  }
}

.slick-slide>div {
  display: flex;
  flex-direction: column;
}

.cs_slider_gap_32 {
  .slick-slide {
    padding-left: 16px;
    padding-right: 16px;
  }

  .slick-list {
    margin-left: -16px;
    margin-right: -16px;
  }
}

.cs_slider_gap_20 {
  .slick-slide {
    padding-left: 20px;
    padding-right: 20px;
  }

  .slick-list {
    margin-left: -20px;
    margin-right: -20px;
  }
}

.cs_slider_gap_24 {
  .slick-slide {
    padding-left: 12px;
    padding-right: 12px;
  }

  .slick-list {
    margin-left: -12px;
    margin-right: -12px;
  }
}

.cs_slider_gap_66 {
  .slick-slide {
    padding-left: 33px;
    padding-right: 33px;
  }

  .slick-list {
    margin-left: -33px;
    margin-right: -33px;
  }
}

.cs_slider_arrows.cs_style_1 {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 50px;

  .cs_left_arrow,
  .cs_right_arrow {
    color: var(--primary-color);
    transition: all 0.3s ease;

    &:hover {
      color: var(--black-color);
    }
  }

  @media (max-width:991px) {
    position: initial;
    justify-content: center;
  }
}

/*==============================================
 Gallery Slider
================================================*/
.cs_nav_thumbnail {
  height: 240px;

  img {
    height: 100%;
  }

  @media (max-width:1199px) {
    height: 200px;
  }

  @media (max-width:991px) {
    height: auto;
  }
}