/*=========================================================
  19. Contact
===========================================================*/
.cs_contact_form_style_1 {
  padding: 45px 30px 50px;
  margin: 0 auto;
  width: min(100%, 1020px);
  background-color: var(--gray-color);

  label {
    margin-bottom: 10px;
    font-weight: 500;
  }

  .cs_form_field {
    display: block;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    padding: 14px 20px;
    background: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);

    &::placeholder {
      opacity: 0.75;
    }
  }

  .cs_btn_style_1 {
    padding: 14px 40px;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

  @media (max-width: 991px) {
    padding: 35px 15px 40px;
  }

  @media (max-width: 575px) {
    padding: 35px 0 40px;
  }
}

.cs_location_map_style_1 {
  iframe {
    width: 100%;
    min-height: 650px;
    filter: brightness(80%) grayscale(0.9);
  }
}