/*=================================================
  16. Service
 ==================================================*/
.cs_grid_style_1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 30px 65px;

  @media (max-width:991px) {
    grid-template-columns: repeat(1, 1fr);
  }
}