.cs_team_style_1 {
    border-radius: 500px 500px 0px 0px;
    
        .cs_card_thumbnail {
            background-color: var(--gray-color);
            border-radius: inherit;

        .cs_card_details{
            padding-top: 24px;
        }
    }
}

