.cs_team_style_1 {
  border-radius: 500px 500px 0px 0px;

  .cs_team_thumbnail {
    position: relative;
    background-color: var(--gray-color);
    border-radius: 500px 500px 0px 0px;
  }

  @media (max-width:767px) {
    width: min(100%, 386px);
    margin: 0 auto;
  }

}